

/*---------------------------------------------------------------------------*/
/*  TABBERS  */
/*---------------------------------------------------------------------------*/

.tabber { margin-bottom: 20px; }
.tabber ul.tabs { 
	list-style: none; 
	margin: 0 !important; 
	padding: 0;
	height: 38px;
	border: 1px solid #ddd;
	border-width: 0 0 1px 1px;
}
.tabber .tabs li { 
	float: left;	 
	text-indent: 0;
	padding: 0;
	margin: 0 !important;
	list-style-image: none !important;
}
.ie7 .tabber .tabs li { line-height: 0; }
.tabber .tabs a { 
	background-color: #eee;
	display: block;
	height: 36px;  
	line-height: 36px;
	padding: 1px 20px 0;
	border: 1px solid #ddd;
	border-left: 0;
	color: #999;
	font-weight: bold;
	text-decoration: none;
	position: relative;
}
.tabber .tabs a:hover { color: #333; }
.tabber .tabs .current,
.tabber .tabs .current:hover,
.tabber .tabs li.current a {
	color: #333;
	background-color: #fff;
	border-bottom-color: #fff;
	cursor: default !important;
}
.tabber .panes {
	border: 1px solid #ddd;
	border-top: 0;
	background-color: #fff;
}
.tabber .panes p { margin-bottom: 0; }
.tabber .panes .pane p { margin-bottom: 20px; }
.tabber .pane { padding: 20px; }
.ie8 .tabber .pane { display: block; }


/* sidebar-tabs */
#sidebar-tabs {
    padding: 10px;
    background-color: #eee;
    margin-bottom: 30px;
}
#sidebar-tabs .widget {
    display: none;
    clear: none;
    margin-bottom: 0;
}
#sidebar-tabs .widget-title { display: none }
#sidebar-tabs .tabs li a:hover,
#sidebar-tabs .tabs li a.current {
    background-color: #fff;
    text-decoration: none;
}


/*---------------------------------------------------------------------------*/
/*  TOGGLES  */
/*---------------------------------------------------------------------------*/

.toggle {
	margin-bottom: 20px;
	border: 1px solid #ddd;
	background-color: #fff;
}
.toggle .trigger {
	display: block;
	background: #eee url(../images/icons/toggle-plus.png) center right no-repeat;
	font-weight: bold;
	color: #333;
	line-height: 36px;
	text-decoration: none;
	padding: 0 20px;
}
.toggle .trigger.open { background: #eee url(../images/icons/toggle-minus.png) center right no-repeat; }
.toggle .trigger:hover { background-color: #f4f4f4; }
.toggle .pane { padding: 20px; display: none; }
.toggle p { margin: 0; }
.toggle .pane p { margin-bottom: 20px; }


/*---------------------------------------------------------------------------*/
/*  ACCORDIONS  */
/*---------------------------------------------------------------------------*/

.accordion {
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	margin-bottom: 20px;
}
.accordion .trigger {
	background-color: #f4f4f4;
	font-weight: bold;
	display: block;
	padding: 0 20px;
	border-top: 1px solid #ddd;
	line-height: 36px;
	color: #999;
}
.accordion .trigger:hover,
.accordion .trigger.current {
	cursor: pointer;
	color: #333;
	background-color: #eee;
}
.accordion .trigger.current { cursor: default; }
.accordion .pane {
	display: none;
	padding: 10px 20px;
}
.accordion .pane.current { display: block; }
.accordion p { margin: 0; }
.accordion .pane p { margin-bottom: 20px; }


/*---------------------------------------------------------------------------*/
/*  COLUMNS  */
/*---------------------------------------------------------------------------*/

.one-half { width: 48%; }
.one-third { width: 30.66%; }
.two-third { width: 65.33%; }
.one-fourth { width: 22%; }
.three-fourth { width: 74%; }
.one-half,
.one-third,
.two-third,
.three-fourth,
.one-fourth {
	position: relative;
	margin-right: 3.33%;
	margin-bottom: 20px;
	float: left;
}
.column-last {
	margin-right: 0 !important;
	clear: right;
}
.column-last:after {
    content: "";
    display: block;
    overflow: hidden;
    clear: both;
}


/*---------------------------------------------------------------------------*/
/*  BUTTONS  */
/*---------------------------------------------------------------------------*/

.button {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    padding: 8px 11px;
    color: #555 !important;
    border: 1px solid #dedede;
    border-radius: 3px;
}
.button.white {
    background: #f9f9f9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /*  WebKit */
    background: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
    border-color: #dedede #d8d8d8 #d3d3d3;
    text-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}
.button.white:hover {
    background: #efefef;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8)); /*  WebKit */
    background: -moz-linear-gradient(top, #efefef, #f8f8f8);
    border-color: #c7c7c7 #c3c3c3 #bebebe;
    text-shadow: 0 1px 0 #fdfdfd;
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
}
.button.grey {
    background: #cacaca;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cacaca', endColorstr='#aeaeae'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#aeaeae)); /*  WebKit */
    background: -moz-linear-gradient(top, #cacaca, #aeaeae);
    border-color: #b5b5b5 #a1a1a1 #8f8f8f;
    text-shadow: 0 1px 0 #d4d4d4;
    box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;    
}
.button.grey:hover {
    background: #bcbcbc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbcbc', endColorstr='#c2c2c2'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#c2c2c2)); /*  WebKit */
    background: -moz-linear-gradient(top, #bcbcbc, #c2c2c2);
    border-color: #989898 #8e8e8e #878787;
    text-shadow: 0 1px 0 #dadada;
    box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;    
}
.button.yellow {
    background: #feda71;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71', endColorstr='#febb4a'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febb4a)); /*  WebKit */
    background: -moz-linear-gradient(top, #feda71, #febb4a);
    border-color: #f5b74e #e5a73e #d6982f;
    color: #963 !important;
    text-shadow: 0 1px 0 #fedd9b;
    box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;    
}
.button.yellow:hover {
    background: #fec354;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec354', endColorstr='#fecd61'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fec354), to(#fecd61)); /*  WebKit */
    background: -moz-linear-gradient(top, #fec354, #fecd61);
    border-color: #d29a3a #cc9436 #c89133;
    text-shadow: 0 1px 0 #fee1a0;
    box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;    
}
.button.green {
    background: #cae285;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
    background: -moz-linear-gradient(top, #cae285, #9fcb57);
    border-color: #adc671 #98b65b #87aa4a;
    color: #5d7731 !important;
    text-shadow: 0 1px 0 #cfe5a4;
    box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;    
}
.button.green:hover {
    background: #b8d872;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
    background: -moz-linear-gradient(top, #b8d872, #b9d972);
    border-color: #8bb14d #83a648 #7d9e45;
    text-shadow: 0 1px 0 #d5e8aa;
    box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;    
}
.button.blue {
    background: #abe4f8;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#abe4f8', endColorstr='#6fcef3'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#abe4f8), to(#6fcef3)); /*  WebKit */
    background: -moz-linear-gradient(top, #abe4f8, #6fcef3);
    border-color: #8dc5da #76b7cf #63abc7;
    color: #42788e !important;
    text-shadow: 0 1px 0 #b6e6f9;
    box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;    
}
.button.blue:hover {
    background: #91DBF6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91DBF6', endColorstr='#94DBF7'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#91DBF6), to(#94DBF7)); /*  WebKit */
    background: -moz-linear-gradient(top, #91DBF6, #94DBF7);
    border-color: #7caec0 #68a3ba #5a9cb5;
    text-shadow: 0 1px 0 #bee9fa;
    box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;    
}
.button.black {
    background: #5e5e5e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e5e5e', endColorstr='#434343'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#434343)); /*  WebKit */
    background: -moz-linear-gradient(top, #5e5e5e, #434343);
    border-color: #4c4c4c #313131 #1f1f1f;
    color: #fff !important;
    text-shadow: 0 1px 0 #2e2e2e;
    box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;    
}
.button.black:hover {
    background: #5A5A5A;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5A5A5A', endColorstr='#5B5B5B'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#5A5A5A), to(#5B5B5B)); /*  WebKit */
    background: -moz-linear-gradient(top, #5A5A5A, #5B5B5B);
    border-color: #2c2c2c #1c1c1c #101010;
    text-shadow: 0 1px 0 #363636;
    box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;    
}


/*---------------------------------------------------------------------------*/
/*  ALERTS  */
/*---------------------------------------------------------------------------*/

.alert {
    padding: 12px 5% 12px 5%;
    font-family: serif;
    font-style: italic;
    text-align: center;
    margin: 0 0 20px 0;
}
.alert.white {
    background: #fff;
    border: 1px solid #d8d8d8;
    color: #555;
}
.alert.yellow {
    background: #fec354;
    border: 1px solid #e5a73e;
    color: #963;
}
.alert.green {
    background: #cae285;
    border: 1px solid #98b65b;
    color: #5d7731;
}
.alert,
.alert.red {
    background: #f67c90;
    border: 1px solid #da5f75;
    color: #913944;
}


/*---------------------------------------------------------------------------*/
/*  MISC CUSTOM STYLES  */
/*---------------------------------------------------------------------------*/

/* image frames */
.frame {
    margin: 0 0 20px;
    padding: 10px 10px 8px;
    text-align: center;
    display: inline-block;
    border: 1px solid #111;
    background: #111;
    box-shadow: inset 0 2px 0 -1px hsla(0,0%,100%,.2), inset 0 50px 50px -30px hsla(0,0%,0%,.6), inset 0 150px 150px -30px hsla(0,0%,100%,.3), inset 0 0 5px hsla(0,0%,0%,.6), inset 0 0 0 9px #111;
}
.frame img {
    vertical-align: text-bottom;
    background: #111;
    margin: 0;
    box-shadow: 0 1px 0 hsla(0,0%,100%,.2), 0 0 1px 1px hsla(0,0%,0%,.6);
}

/* code snippets */
pre.code {
    padding: 20px;
    margin: 20px 0;
    overflow: auto;
    font: normal 12px/20px monospace, sans-serif;
    background: #eee url(../images/pre-bg.png);
}

/* drop caps */
.drop-cap {
	float: left;
	color: #111;
	font: normal 36px/38px serif;
	padding-right: 8px;
}

/* divider */
hr {
	border: 0;
	height: 1px;
	text-align: center;
	font-size: 14px;
	color: #c4c4c4;
	display: block;
	margin: 20px 0;
	background: #c4c4c4;
	background-image: -webkit-linear-gradient(left, #f4f4f4, #c4c4c4, #f4f4f4);
	background-image: -moz-linear-gradient(left, #f4f4f4, #c4c4c4, #f4f4f4);
	background-image: -ms-linear-gradient(left, #f4f4f4, #c4c4c4, #f4f4f4);
	background-image: -o-linear-gradient(left, #f4f4f4, #c4c4c4, #f4f4f4);
}

/* text highlight */
.highlight {
    background-color: #ffffe0;
    padding: 1px;
}

/* post editor tweaks */
.mceContentBody .toggle .pane { display: block !important; }
.mceContentBody p { margin-bottom: 20px; }


#err404 {
    font-size: 20em;
    font-family: 'Candal', Arial, Helvetica;
    position: absolute;
    left: 0px;
}

#round404 {
    background-color: #e3ffe3;
}