/*
==  CUSTOM STYLESHEET  ========================================================

HOW TO USE THIS FILE:
	Simply copy an existing style from the style.css file to this one and 
	modify however you like. It will override the default style.

WHY USE THIS FILE:
	Adding your custom CSS here will make it much easier to upgrade to a 
	newer version of this theme without losing any of your customizations.

===============================================================================
ADD YOUR CUSTOM CSS BELOW THIS LINE */

@font-face {
    font-family: myfont;
    src: url('includes/PathwayGothicOne-Regular.ttf');
}

body {
    background: url("http://skule.ca/content/thecannon_bg_pattern.png");
    font-family: 'Merriweather', Open Sans, Helvetica, Arial, sans-serif;
    margin: 0;
}

#main {
    width: 960px;
}

.page #content { width: 100%;  }

.page .hentry,
.single .hentry {
    width: 100%;
}

#hentry-wrap {
    width: 100%;
}

.page #content {
    max-width: 100%;
    float: left;
}

#header {
    padding: 0 0 30px;
}

#header-inner {
    width: 960px;
}

#logo {
    background: none;
}

#secondary-menu {
    width: 100%;
    background: #333;
}

#secondary-menu ul a {
    font-size: 14px;
    line-height: 45px;
    color: #fff;
}

#secondary-menu table{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#secondary-menu ul a {
    color: none;
}

#secondary-menu .menu-item .parent {
    cursor: pointer;
}

.post-header .meta-author a{
    font-size: 12px;
}

.post-header .meta-author a:hover{
    color: #0080ff;
}

.dashboardbg {
    padding: 7px 0;
    margin: 0 20px 40px 0;
    background: #ddd;
    border: 1px solid #ccc;
    border-width: 1px 0;
    display:none;
}

.dashboardbg .inner{
	background: #fff;
	padding: 14px 80px 10px;
}

.scoreboard {
  border-style: 0px solid white;
  border-radius: 5px;
  border-collapse:separate;
  border-spacing: 0 0.1em;
}

.scbhead{
  background-color: #D7D7D7;
}

body #content .dashboardbg .inner .scoreboard td{
  background-color: #EBEBEB;
  border-left:none;
}

#secondary-menu .navigation{
    float: left;
}

#secondary-menu .menu-search{
    float: right;
}

.menu-search div{
    margin: 6px 0;
}
#secondary-menu ul a:hover {
    color: #0080ff;
}

#secondary-menu ul ul{
    min-width:600px;
    width:auto;
    border-radius:20px;
}

#secondary-menu ul li:hover ul, #secondary-menu ul li.sfHover ul{
    left:0px;
    top:45px;
}

#secondary-menu td, tr, table{
    background: none;
    padding: 0;
    margin: 0;
    border-width:0;
}

#primary-menu{
    display:none;
}

#primary-menu ul a {
    text-shadow: none;
}

#primary-menu ul li.current-menu-item li a:hover,
#primary-menu ul a.active,
#primary-menu ul ul li.current-menu-item a,
#primary-menu ul a:hover {
    background:#0080ff;
    color:#333;
}

#header {
    margin-top: 0;
    padding: 5px 0 10px;
}

#header-inner {
    margin-top: 0;
}

#logo{
    width: 400px;
}

#logo h1, #logo div{
    margin-top: 10px;
}

#site-title img {
    padding: 10px 0 10px;
}

#archive-title{
    margin: 0 0 25px 0px;
    width: 960px;
}

#archive-title .inner {
    background: #fff;
    padding: 14px 10px 10px;
}

.item {
    margin: 0 10px 20px 10px;
}

.item .meta-category {
    border-radius: 20px;
}

.featured {
    margin-bottom: 25px;
}

.featured .post-title a {
    color: #fff;
    font-size: 40px;
}

.featured .featured-details a.read-more {
    color: rgb(255,242,0) !important;
}

/* Extra div in selector is so that it overrides style.css properly */
.featured-image div .da-wrap { 
    position: relative;
    width: auto;
    margin: auto;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.featured-image .title {
    display: inline;
    font-weight: bold;
}

.featured-image .title:hover {
    color: #0080ff;
}

.featured-image .da-wrap .read-more {
    color: #fff200;
    font-weight: bold;
}

.featured-image .da-wrap .read-more:hover {
    color: #0080ff;
}

#comments {
    float: left;
    width: 640px;
    max-width: 640px;
    margin: 20px 0;
    padding: 7px 0;
    border: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-width: 1px 0;
}

#site-title a { color: #333; }
#site-title a:hover { color: #9c0; }
#site-title a:active { color: #9c0; }

.single #content {
    max-width: 640px;
}

#sidebar {
    margin-right:0;
}

#sidebar .widget_execphp {
    padding: 7px;
}

#sidebar .widget_execphp .widget-inside{
    padding-bottom: 0px;
}

.sidebar-on #load-more { width: auto; }

#load-more.disabled,
#load-more.disabled a,
#load-more.disabled:hover .count-text {
    display:none;
}

#footer-menu .social {
    float: right;
    list-style: none;
    margin: -5px;
}

#footer-menu .social li {
    float: left;
    margin-left: 10px;
}

#footer-menu .social li:first-child {
    margin-top: 8px;
}

#footer-menu .social img {
    opacity: 0.8;
}

#footer-menu .social img:hover {
    opacity: 1.0;
}

#footer-menu{
    max-width:920px;
}

#footer-menu ul a{
    padding:0px;
}

.sx_like-dark_fav{
    display: none !important;
}

#usp-submit input{
    margin:auto;
}

#err404 {
    font-size: 20em;
    font-family: 'Candal', Arial, Helvetica;
    position: absolute;
    left: 0px;
}

/* author sidebar style */
#author-info {
    background-color: #e3e3e3;
    padding: 10px;
}

.circleBase {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
}

#author-info h2{
    margin-bottom: -5px;
}

#author-info h3 {
    margin-bottom: 10px;
}

#author-info p {
    text-align: left;
    margin-left: 2em;
    margin-bottom: 10px;
}

#avatar-boundary {
    width:110px;
    height:110px;
    background-color: #e3e3e3;
    margin: auto;
}

.page-template-default #content .post-header,
.page-template-template-fullwidth-php #content .post-header,
.page-template-abouttemplate-php #content .post-header,
.single #content .post-header {
    background: #fff;
    padding: 20px 30px 5px;
}

.page-template-default #content .post-content,
.page-template-template-fullwidth-php #content .post-content,
.page-template-abouttemplate-php #content .post-content,
.single #content .post-content {
    overflow: visible;
}

.page-template-template-fullwidth-php #content .post-content {  padding: 10px 30px 20px; }

#filter li:hover,
#filter li.active {
    background: rgb(3,24,175);
}

#filter li:hover a,
#filter li.active a { 
    color: rgb(255,242,0);
}

.search-wrap input, .DT_Search input {
    background: #fff;  }

.single #head {
    margin-bottom:20px;
    overflow:auto;
}

.single #head .hentry {
    padding: 7px 0;
    border: 0;
    background: #ddd;
    border: 1px solid #ccc;
    border-width: 1px 0;
    overflow: hidden;
}

.single #head .post-header {
    background: #fff;
    padding: 20px 30px 25px;
}

.single #head .post-content {
    background: #fff;
    text-align: left;
    font: normal 13px/1.8 'Merriweather', serif;
    padding: 25px 30px 20px;
    word-wrap: break-word;
    overflow: hidden;
}

.page-template-default #head .post-content,
.page-template-template-fullwidth-php #head .post-content,
.page-template-abouttemplate-php #head .post-content {
    padding: 0 30px 20px;
}

.single #head .post-content img { margin-bottom: 10px; }