/*
==  CUSTOM STYLESHEET  ========================================================

HOW TO USE THIS FILE:
	Simply copy an existing style from the style.css file to this one and 
	modify however you like. It will override the default style.

WHY USE THIS FILE:
	Adding your custom CSS here will make it much easier to upgrade to a 
	newer version of this theme without losing any of your customizations.

===============================================================================
ADD YOUR CUSTOM CSS BELOW THIS LINE */
#secondary-menu {
    width: 100%;
    background: #333;
}

#secondary-menu ul a {
    font-size: 14px;
    line-height: 45px;
    color: #fff;
}

#secondary-menu ul a:hover {
    color: #0080ff;
}

#secondary-menu ul ul{
    width:auto;
    border-radius:20px;
}

#secondary-menu ul li:hover ul, #secondary-menu ul li.sfHover ul{
    left:auto;
}

#primary-menu{
    display:none;
}

.fbFeedbackContent{
    min-height: 0px !important;
}

body{
    margin: 0;
}

#header {
    margin-top: 0;
    padding: 0 0 25px;
}

#header-inner {
    margin-top: 0;
}

#logo{
    float: left;
}

#logo h1, #logo div{
    margin-top: 10px;
}

#site-title img {
    padding: 10px 0 10px;
}

#archive-title{
    margin-bottom: 25px;
    margin-right:0;
}

#archive-title .inner {
    background: #fff;
    padding: 14px 10px 10px;
}

.item {
    margin: 0 10px 20px 10px;
}

.featured {
    margin-bottom: 25px;
}

#comments {
    float: left;
    max-width: 620px;
    width: 620px;
    margin: 20px 0;
    padding: 7px 0;
    border: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-width: 1px 0;
}

#site-title a { color: #333; }

#site-title a:hover { color: #9c0; }
#site-title a:active { color: #9c0; }
/*
#ending{
    text-transform: uppercase;
    max-width: 940px;
    margin: 0 auto;
}*/
#copyright {
    /*float:left;*/

}
.single #content {
    max-width: 640px;
}

#sidebar {
    margin-right:0;
}

ul.social{
    float: right;
    list-style: none;
    margin: -5px;
}

ul.social li{
    float: left;
    margin-left: 20px;
}

#footer-menu{
    max-width:920px;
}

#footer-menu ul a{
    padding:0px;
}

.sx_like-dark_fav{
    display: none !important;

}

#usp-submit input{
    margin:auto;

}