/*
==============================================================================
	MOBILE MEDIA QUERIES
==============================================================================
*/


/*---------------------------------------------------------------------------*/
/*	Tablets - for 1035px or less
/*---------------------------------------------------------------------------*/

@media screen and (max-width: 980px) {
	body{margin-top:-10px;}
	#comments { width: auto; }
	
	#logo { min-height: 132px; }

	#header { padding: 0 0 0px }
	
	#load-more { width: 620px !important; }
	
	.home #home-intro { margin-right: 0; }
	
	.home #sidebar { display: none; }
	
	.search #masonry { padding: 0 }
	
	#main,
	#footer-inner {
	    width: auto;
	    margin: 0;
	}
	
	#header-inner {
	    width: auto;
	    max-width: 620px;
	}
	
	.page #container,
	.single #container { width: 620px }
	
	.single.single-showcase #main {
	    width: 620px;
	    max-width: 620px;
	    margin: 0 auto;
	}
	
	#primary-menu { top: 20px }
	
	#primary-menu .split-menu { width: 160px }
	
	#primary-menu ul li { display: block; }
	
	#primary-menu ul ul { display: none !important; }
	
	#bottom,
	#page { overflow: hidden }
	
	#sidebar {
	    width: 620px;
	    margin: 0;
	}
	
	.page #sidebar,
	.single #sidebar { margin-bottom: 30px }
	
	.single #container,
	.page #container {
	    float: none;
	    margin: 0 auto 10px;
	    width: 620px;
	}
	
	.page #content,
	.single #content {
	    width: 620px;
	    max-width: 620px;
	}
	
	.single #content,
	.page #content { max-width: 620px }
	
	#content { width: 640px }
	
	#container {
	    float: none;
	    overflow: hidden;
	    margin: 0 auto 30px;
	    padding: 0;
	    width: 620px;
	}
	
	.archive #sidebar {
	    position: relative;
	    float: left;
	    width: 620px;
	}
	
	.archive #masonry { padding: 0 }
	
	.tax-group #content,
	.page.page-template-template-showcase-php #content {
	    width: 640px;
	    max-width: 640px;
	}
	
	.tax-group #container,
	.page.page-template-template-showcase-php #container {
	    width: 620px;
	    float: none;
	}
	
	.single.single-showcase #content {
	    width: 620px;
	    max-width: 640px;
	}
	
	.single.single-showcase #container {
	    width: 620px;
	    float: none;
	}
	
	.single.single-showcase #content .post-content {
	    width: 580px;
	    float: none;
	    padding: 20px 20px 0 20px;
	}
	
	.single.single-showcase #content .showcase.format-gallery .post-content {
	    padding-top: 20px;
	    margin: 0;
	}
	
	.single-showcase #slide-controls {
	    right: 20px;
	    top: -51px;
	}
	
	.single.single-showcase .featured-image {
	    float: none;
	    width: 620px;
	}
	
	#related { margin: 0 0 30px 0 }
	
	/*
	
	#related { width: 580px; }
	
	#related li {
		float: left;
		margin-right: 20px;
	}
	
	#related .featured-image { width: auto; }
	
	*/
	
	#footer-menu{
	    //float: none;
	    text-align: center;
           max-width: 600px;
       }
	#credits {
	    float: none;
	    text-align: center;
	}
	
	#footer-menu li {
	    float: none !important;
	    display: inline-block;
	    margin: 0px 10px;
	}
	
	.archive #sidebar,
	.archive-title-item { display: none !important }
	
	.archive #masonry {
	    padding: 0;
	    margin-left: 0;
	}
	
	.tax-group #masonry { margin-left: 0 }
	
	.single-showcase #slide-controls {
	    right: 20px;
	    top: 20px;
	}
	
	.page-template-template-fullwidth-php #comments { max-width: 620px }
	
	.page-template-template-fullwidth-php #comments #respond {
	    width: 560px;
	    max-width: 560px;
	}

}


/*---------------------------------------------------------------------------*/
/*	Mobiles - for 680px or less
/*---------------------------------------------------------------------------*/

@media screen and (max-width: 640px) {

	#logo {
	    width: auto;
        margin-bottom: 10px;
        margin-top: -50px
	}
	
	#mobile-menu {
	    display: block;
	    padding: 0px 0;
	    background: #333;
	}
	
	#mobile-menu select { border: 10px solid #222; }
	
	#mobile-menu ul { display: none; }
	
	.home #home-intro { display: none; }
	
	#load-more { width: 300px !important; }
	
	.one-half,
	.one-third,
	.two-third,
	.three-fourth,
	.one-fourth {
	    width: auto !important;
	    float: none !important;
	}
	
	#primary-menu,
	#secondary-menu { display: none }
	
	#sidebar { width: 100% }
	
	#container {
	    width: 300px;
	    padding: 0;
	}
	
	.single.single-showcase #main { width: auto }
	
	.page #content,
	.single #content,
	.page #container,
	.single #container { width: 100% }
	
	.page-template-default #content .post-header,
	.page-template-template-fullwidth-php #content .post-header,
	.single #content .post-header { padding: 20px 20px 25px; }
	
	.page-template-default #content .post-content,
	.page-template-template-fullwidth-php #content .post-content,
	.single #content .post-content,
	#comments .inner  { padding: 20px 20px 10px; }
	
	#content { width: 100% }
	
	#header { padding: 0 0 20px }
	
	.page #container,
	.single #container { width: 100% }
	
	.page #content,
	.single #content { max-width: 100% }
	
	#home-title {
	    float: none;
	    margin: 0 auto 20px;
	    width: 100%;
	    text-align: center;
	}
	
	.page .hentry,
	.single .hentry {
	    width: 100%;
	    max-width: 100%;
	}
	
	#single-slides,
	#single-slides .slides_container {
	    width: 300px;
	    height: auto;
	}
	
	#single-slides .slides_container img {
	    display: block;
	    width: 300px;
	    height: auto;
	}
	
	.tax-group #content,
	.page.page-template-template-showcase-php #content {
	    width: 100%;
	    max-width: 100%;
	}
	
	.tax-group #container,
	.page.page-template-template-showcase-php #container { width: 300px }
	
	.single.single-showcase #content {
	    width: 100%;
	    max-width: 100%;
	}
	
	.single.single-showcase #container { width: 300px }
	
	.single.single-showcase #content .post-content {
	    width: 260px;
	    float: none;
	}
	
	.single.single-showcase .featured-image { width: 300px }
	
	.single.single-showcase .featured-image img { width: 300px }
	
	.featured .featured-image img { margin: -50px 0 0 -50px }
	
	#slides .post-title a { color: #fff }
	
	.archive-title-item,
	#sidebar,
	#primary-menu ul ul,
	.item .featured-details .post-content,
	.item .featured-details a.read-more { display: none !important }
	
	th { padding: 5px }
	
	td { padding: 5px }
	
	#hentry-wrap { width: 100% }
	
	#archive-title { margin-right: 0; }
	
	#archive-title .inner { padding: 14px 20px }
	
	#filter li {
	    margin: 4px 0;
	    display: block;
	}
	
	.page-template-template-fullwidth-php #comments { max-width: 300px }
	
	.page-template-template-fullwidth-php #comments #respond {
	    width: 240px;
	    max-width: 240px;
	}
	
	.featured .featured-details .post-content { display: none }
	
	.featured .post-title a { font-size: 24px }
	
	.featured .featured-details .inner {
	    padding: 0;
	    width: 100%;
	    bottom: 40%;
	}

	#footer-menu{
	    //float: none;
	    text-align: center;
           max-width: 280px;
       }

}